.view-id-calendrier.view-display-id-block_1 .date-nav-wrapper .date-prev a {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.view-id-calendrier.view-display-id-block_1 .date-nav-wrapper .date-next a {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.view-id-calendrier.view-display-id-block_1 .date-nav-wrapper .date-prev a,
.view-id-calendrier.view-display-id-block_1 .date-nav-wrapper .date-next a {
  /* just to avoid a shift when :hover is triggered */
  border: 2px solid transparent;
}

.view-id-calendrier.view-display-id-block_1 .date-nav-wrapper .date-prev a:hover,
.view-id-calendrier.view-display-id-block_1 .date-nav-wrapper .date-next a:hover {
  border: 2px solid #9f3f82;
}
