@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  Clear Floated Elements
*/

.clear {
  clear:both;
  display:block;
  overflow:hidden;
  visibility:hidden;
  width:0;
  height:0;
}

.clear:after {
  clear:both;
  content:' ';
  display:block;
  font-size:0;
  line-height:0;
  visibility:hidden;
  width:0;
  height:0;
}

* html .clear {
  height:1%;
}

/*
  Style HTML Tags
*/

body {
  font-family: Open Sans, Tahoma, Georgia, Arial, sans-serif;
  line-height: 125%;
  background: url(images/white_wall_hash.png) repeat rgb(250,250,250);
  background-position-y: 116px;
  color: rgb(25,25,25);
  font-size:12px;
}

a {
  color: rgb(159,63,130);
  text-decoration:none;
}

a:hover {
  color: rgb(139,42,90);
}

a:active {
  position: relative;
  top: 1px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans';
  margin-bottom:6px;
  line-height: 125%;
}

h1 {
  font-size:28px;
}

h2 {
  font-size:18px;
}

h3 {
  font-size:16px;
}

h4 {
  font-size:14px;
}

h5 {
  font-size:13px;
}

h6 {
  font-size:12px;
}

p {
  margin-bottom:18px;
}

table {
  border-collapse:collapse;
  border-spacing:0;
  margin-bottom: 15px;
  width: 100%;
}

th, tr, td {
  vertical-align: middle;
}

.sticky-header th, .sticky-table th {
  border-bottom: 3px solid #ccc;
  padding-right: 1em;
  text-align: left;
}

table {
  background: #ececec;
  border: 1px solid #bbbbbb;
}

th {
  background: #dbdbdb;
  padding: 5px 4px;
  text-shadow: 1px 1px #fff;
  border-right: 1px solid #c8c7c7;
  color:#333;
}

td {
  background: #ebebeb;
  color: #747474;
  text-align: left;
  padding-left: 4px;
  border-right: 1px solid #c8c7c7;
  border-bottom: 1px solid #c8c7c7;
}

code {
  background: #d8d8d8;
  text-shadow: 1px 1px #fff;
  border: 1px solid #bbbbbb;
  display: block;
  padding: 7px;
  margin: 5px 0;
  border-radius: 7px;
}

mark {
  background-color:#fdfc9b;
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

hr {
  border:none;
  border-top:#EEE 1px solid;
}

dt {
  font-weight:bold;
  margin-bottom:24px;
}

dd {
  margin-left:30px;
  margin-bottom:24px;
}

ul {
  list-style-type:disc;
  margin-left:15px;
  margin-bottom:12px;
}

ul ul {
  list-style-type:square;
  margin-bottom:0;
}

ul ul ul {
  list-style-type:circle;
}

ol {
  list-style-type:decimal;
  margin-left:30px;
  margin-bottom:24px;
}

ol ol {
  list-style: upper-alpha;
  margin-bottom:0
}

ol ol ol {
  list-style: lower-roman;
}

ol ol ol ol {
  list-style: lower-alpha;
}

abbr,
acronym {
  border-bottom:#999 1px dotted;
  cursor:help;
}

big {
  font-size:1.3em;
}

cite,
em {
  font-style:italic;
}

ins {
  background-color:#fdfc9b;
  text-decoration:none;
}

pre {
  background: #d8d8d8;
  text-shadow: 1px 1px #fff;
  border: 1px solid #bbbbbb;
  padding: 7px;
  margin: 5px 0;
  border-radius: 7px;
}

blockquote, q {
  quotes:none;
  border: 1px solid #bbbbbb;
  background: #d8d8d8 url(images/quote.png) no-repeat;
  padding: 10px 5px 5px 47px;
  text-shadow: 1px 1px #fff;
  margin: 5px 0;
  border-radius: 7px;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

strong {
  font-weight:bold;
}

sup,
sub {
  height:0;
  line-height:1;
  vertical-align:baseline;
  position:relative;
  font-size:10px;
}

sup {
  bottom:1ex;
}

sub {
  top:.5ex;
}

img,
video {
  max-width:100%;
  height:auto;
}

video {
  display:block;
}

audio {
  max-width:100%;
}

.content a img {
  padding:0px 0;
  box-shadow:none;
  background:#FFF;
  border:0;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(200,200,200);
}

.content a:hover img {
  background:none;
  box-shadow: 0 0 5px rgb(150,150,150);
}

/*
  Theme Design, Layout and Typography
*/


#header_wrapper {
  background: rgb(255,255,255);
}
#header {
  max-width: 1152px;
  margin: 0 auto;
}

.menu_wrapper{
  border-top: none;
  border-bottom: 2px solid rgb(159,63,130);
}

#logo {
  float:left;
  margin: 15px 10px;
}

#site-title a,
#site-description {
  color:rgb(50,50,50);
  font-weight: 400;
}

#site-title,
#site-description {
  float:left;
}

#site-title {
  margin: 30px 10px;
  font-size:28px;
  font-weight:400;
}

#site-title a{
  float: left;
}

#site-description {
  color: rgb(130,130,130);
  margin: 0;
  float: left;
  clear: both;
  font-size: 0.7em;
  line-height: 100%;
}

#main-menu {
  max-width: 1152px;
  margin: 0 auto;
  padding-left: 20px
}

#main-menu ul {
  float:left;

  padding:0;
  margin:0;
  list-style:none;
  font-size:16px;
}

#main-menu li {
  background: none;
  position:relative;
  float:left;
  padding-left:0;
  margin:0;
  font-family: 'Open Sans';
  font-size: 18px;
}

#main-menu ul li:first-child {
  padding-left:0;
}

#main-menu > div > ul > li > a {
  border-radius: 10px 10px 0 0;
}

#main-menu li ul li.last a {
  border-radius: 0 0 10px 10px;
}

#main-menu a {
  display: block;
  color: rgb(50,50,50);
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: none;
}

#main-menu a:hover,
#main-menu li > a.active {
  text-decoration: none;
}

#main-menu > div > ul > li:hover > a {
  background: transparent;
  color: rgb(70, 70, 70);
  margin: -1px;
  border: 1px solid rgb(199,103,170);
}

#main-menu li > a.active {
  background: rgb(159,63,130);
  color: rgb(249, 249, 249);
}

.drop-down-toggle {
  position:absolute;
  top:7px;
  right:16px;
  display:none;
  width:20px;
  height:20px;
  border-radius:15px;
  background:#fff;
  background:-moz-linear-gradient(#fff,#9f3f82);
  background:-webkit-linear-gradient(#fff,#9f3f82);
  background:-o-linear-gradient(#fff,#9f3f82);
  background:-ms-linear-gradient(#fff,#9f3f82);
  background:linear-gradient(#fff,#9f3f82);
  border:rgb(119,23,90) 3px solid;
}

.drop-down-arrow {
  display:block;
  width:0;
  height:0;
  margin:8px 0 0 5px;
  border-top:5px solid #aaa;
  border-left:transparent 5px solid;
  border-right:transparent 5px solid;
}

#main-menu li li {
  float:none;
  min-width:190px;
  padding:0;
  margin:0;
}

#main-menu li li a {
  color: rgb(159, 63, 130);
  min-width: 150px;
  margin: 0;
  background: rgb(255, 255, 255);
  border-top: 1px solid rgb(204, 204, 204);
  font-size: 14px;
  text-align: left;
  overflow: hidden;
  padding: 4% 5%;
}

#main-menu li li:first-child > a {
  border-top:none;
}

#main-menu li li a:hover {
  background: rgb(159, 63, 130);
  color: rgb(249,249,249);
}

#main-menu li ul {
  border-radius: 0 0 10px 10px;
  box-shadow: 2px 2px 3px #333;
  display:none;
  position:absolute;
  z-index:9999;
  min-width:190px;
  height:auto;
  padding:0;
  margin:0;
}

#main-menu li ul ul {
  margin:-33px 0 0 190px !important;
}

#main-menu li:hover > ul,
#main-menu li li:hover > ul,
#main-menu li li li:hover > ul {
  display:block;
}

#main-menu .nav-toggle {
  display:none;
}

#main-menu ul li.leaf, #main-menu ul li.expanded, #main-menu ul li.collapsed {
  list-style:none;
}
#main-menu ul.menu li {
  margin: 0;
}

#main-menu li.expanded, #main-menu li.collapsed, #main-menu li.leaf {
  margin: 0;
  padding: 0;
}

.front #container{
  margin-top: 1.5%;
}

#container {
  margin:2.76% auto;
  max-width: 1152px;
}

#slider {
  background: transparent;
  position:relative;
  box-shadow: none;
  overflow: visible;
}

.nivo-caption{
  background: #000;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  padding: 20px;
}

.slider-wrapper #slider{
  position: relative;
  overflow: hidden;
   -moz-box-shadow: 0px 0px 26px #999;
  -webkit-box-shadow: 0px 0px 26px #999;
  border: 5px solid rgb(0, 112, 133);
  box-shadow: 0px 0px 26px #999;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  z-index: 1;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.theme-default .nivo-controlNav{
  padding: 20px 0 0 0;
}

#slider a:active {
  outline:none;
}

.slides,
.flex-control-nav {
  margin:0;
  padding:0;
  list-style:none;
}

.slides {
  width:100%;
  overflow:hidden;
}

#slider .slides > li {
  display:none;
  position:relative;
  margin:0;
}

#slider .slides li:first-child {
  display:list-item;
}

.flex-pauseplay span {
  text-transform:capitalize;
}

.slides:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}

.flex-control-nav {
  position:absolute;
  right:4%;
  bottom:7.3%;
  text-align:center;
}

.flex-control-nav li {
  display:inline-block;
  margin:0 0 0 15px;
}

.flex-control-nav li:first-child {
  margin:0;
}

.flex-control-nav li a {
  display:block;
  width:24px;
  height:24px;
  box-shadow:0 0 3px #999;
  cursor:pointer;
  background:#e9e9e9;
  color:#333;
  font-weight:bold;
  line-height:24px;
}

.flex-control-nav li a.active,
.flex-control-nav li a:hover {
  background:#fff;
}

#slider .post {
  padding:1.83%;
  margin:0;
  box-shadow:none;
  background:none;
}

#slider .entry-container {
  float:right;
  max-width:50%;
}

#slider .slide-image {
	max-width:49%;
	padding:0.47%;
	background:#E9E9E9;
}

#slider .entry-header,
#slider .entry-summary {
  margin-left:5%;
}

#slider .entry-title{
  margin-left:0;
  margin-bottom:15px;
}

.content-sidebar-wrap {
  float:left;
  width:100%;
}

.content-sidebar-wrap #content {
  display: inline;
  margin-bottom: 2.7%;
  float:right;
  width:100%;
}

#sidebar-first {
  color: #888;
  float: left;
}

#sidebar-second {
  color: #888;
  float: right;
}

/* 3 columns */

body.two-sidebars .content-sidebar-wrap {
  width:80%;
}

body.two-sidebars #content {
  width:75%;
}

body.two-sidebars #sidebar-first {
  width: 22%;
}

body.two-sidebars #sidebar-second {
  width: 19%;
}

/* 2 columns: sidebar-first */

body.sidebar-first .content-sidebar-wrap {
  width: 100%;
}

body.sidebar-first #content {
  width: 80%;
}

body.sidebar-first #sidebar-first {
  width: 19%;
}

/* 2 columns: sidebar-second */

body.sidebar-second .content-sidebar-wrap {
  width: 80%;
}

body.sidebar-second #content {
  width: 100%;
}

body.sidebar-second #sidebar-second {
  width: 19%;
}

#post-content {
  padding: 0 20px;
}

.breadcrumb {
  margin:0 20px;
  padding-top:20px;
  margin-bottom:10px;
  border-bottom:#eee 1px solid;
}

#head, #content, #sidebar-second, #sidebar-first {
  margin-top: 10px;
}

.node {
  margin:20px 0;
}

.node h2.title, .page-title {
  color: rgb(50,50,50);
  font-size: 18px;
}

.node h2.title a{
  color: rgb(50,50,50);
}

.block {
  margin-bottom: 1%;
}

.block > h2{
  border-bottom: 1px solid #CCC;
  color: #555;
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: normal;
  margin: 5px 0px;
  padding: 0px 0px 4px 0px;
  text-transform: uppercase;
}

.theme-default .nivo-directionNav a {
  background: url("images/arrows.png") no-repeat;
}

.theme-default a.nivo-nextNav {
  background-position: -30px 0;
}

#footer-area .block > h2 {
  color: rgb(0, 134, 160);
  margin-bottom: 10px;
  text-transform: uppercase;
  border:0;
}

#footer-area ul.menu li a.active{
  color:#ddd;
}

.region-front-welcome{
  background: url("images/hr.png") top center no-repeat;
  padding-top: 2%;
  margin-top: 3%;
}

.region-front-welcome h2{
  margin-bottom: 10px;
  font-size: 16px;
  text-transform: uppercase;
}

.submitted {
  -moz-border-radius:0;
  -webkit-border-radius:0;
  background: none;
  border:0;
  border-radius:0;
  clear: both;
  color: rgb(150,150,150);
  display: block;
  margin-bottom: 10px;
  padding: 0;
  font-size: 14px;
}

.links {
  color: #000;
  margin-top: 10px;
  font-size: 14px;
}

ul.links {
  margin:0;
}

.links li a {
  -moz-border-radius: 20px; -webkit-border-radius: 20px; -o-border-radius: 20px; -ms-border-radius: 20px; -khtml-border-radius: 20px; border-radius: 20px;
  background: rgb(159,63,130);
  color: rgb(249,249,249);
  font-weight: normal;
  padding: 4px 8px;
  display: inline-block;
  margin-bottom: 1px;
}

.links li a:hover {
  background: rgb(139,43,110);
  color: rgb(249,249,249);
}


/*-------------------------------------------*
/* Fix CKEditor style
/*-------------------------------------------*/

table.cke_editor {
  background: transparent;
  border: 0;
}
table.cke_editor td {
  background: transparent;
  padding: 0;
  border: 0;
}

/*-------------------------------------------*
/* Poll, Buttons, Form
/*-------------------------------------------*/
.poll .vote-form .choices .title {
  font-size: 14px;
  font-weight: normal;
  line-height: 2;
}

.poll .vote-form .choices {
  margin: 0;
}

.form-submit{
  cursor: pointer;
  margin:5px;
}

input.form-checkbox, input.form-radio {
  vertical-align: baseline;
}

.form-text {
  padding: 4px 10px;
}

/*-------------------------------------------*
/* Menus and item lists
/*-------------------------------------------*/
.item-list ul {
  margin: 0;
  padding: 0 0 0 1.5385em;
}

.item-list ul li {
  margin: 0;
  padding: 0;
}

ul.menu li {
  margin: 0;
  padding: 0;
  list-style-image: url("../../../../misc/menu-collapsed.png");
}

ul.inline {
  clear: both;
}

ul.inline li {
  margin: 0;
  padding: 0;
}

/*-------------------------------------------*
/* Admin Tabs
/*-------------------------------------------*/
.tabs-wrapper {
  border-bottom: 1px solid #b7b7b7;
  margin: 0 0 5px 0;
}

ul.primary {
  border: none;
  margin: 0;
  padding: 0;
}

ul.primary li a {
  background: none;
  border: none;
  display: block;
  float: left;
  line-height: 1.5385em;
  margin: 0;
  padding: 0 1em;
  border-radius: 4px 4px 0 0;
  margin-right: 5px;
}

ul.primary li a:hover, ul.primary li a.active {
  background: #666;
  border: none;
  color: #fff;
}

ul.primary li a:hover {
  background: #888;
  text-decoration: none;
}

ul.secondary {
  background: #666;
  border-bottom: none;
  clear: both;
  margin: 0;
  padding: 0;
}

ul.secondary li {
  border-right: none;
}

ul.secondary li a, ul.secondary li a:link {
  border: none;
  color: #ccc;
  display: block;
  float: left;
  line-height: 1.5385em;
  padding: 0 1em;
}

ul.secondary li a:hover, ul.secondary li a.active {
  background: #888;
  color: #fff;
  text-decoration: none;
}

ul.secondary a.active {
  border-bottom: none;
}

/*-------------------------------------------*
/* Tabs and Tags
/*-------------------------------------------*/
.field-name-field-tags {
  margin: 0 0 10px 0;
}

.field-name-field-tags a{
  display: inline-block;
  background: url(images/tag.png) no-repeat;
  padding: 0px 8px 0 16px;
  height: 22px;
  text-shadow: 1px 1px #fff;
  border-radius: 2px;
  font-size: 12px;
}

.field-name-field-tags .field-item {
  margin: 0 1em 0 0;
}

.field-name-field-tags div {
  display: inline;
}

/*-------------------------------------------*
/* Profile
/*-------------------------------------------*/
.profile {
  margin: 1.5385em 0;
}

.profile dd {
  margin-bottom: 1.5385em;
}

.profile h3 {
  border: none;
}

.profile dt {
  margin-bottom: 0;
}

.password-parent {
  width: 36em;
}

/*-------------------------------------------*
/* Navigation
/*-------------------------------------------*/
.item-list .pager li {
  background: #cfcfcf;
  border-radius: 3px;
  margin-right: 4px;
  text-shadow: 1px 1px #fff;
}

/*-------------------------------------------*
/* Forum
/*-------------------------------------------*/
.field-name-taxonomy-forums div {
  display: inline;
  margin-top: 4px;
}

#forum .title {
  font-size: 16px;
}

#forum .submitted {
  font-size: 12px;
  font-family: Lucida Grande, Verdana, Arial, sans-serif;
  background: transparent;
  padding: 0;
}

#forum .container {
  background: #a1a1a1;
  color: #fff;
}

#forum .container a {
  color: #000;
  font-weight: bold;
}

#forum div.indent {
  margin-left: 2px;
}

.forum-starter-picture {
  float: left;
  padding: 4px;
  border: 1px solid #d9d9d9;
  margin: 5px 7px 5px 0;
}

#forum th {
  background: #434343;
  text-shadow: none;
  color: #fff;
}

#forum th a {
  color: #fff;
}

#forum td.forum .icon, #forum .icon div {
  background: url(images/no-new-posts.png) no-repeat;
  width: 35px;
  height: 35px;
}

#forum .name a{
  font-size: 16px;
}

/* Images */

img { outline: 0; }

img.scale-with-grid { max-width: 100%; height: auto; }

/* Comments */

.comment h2.title {
  margin-bottom: 1em;
}

.comment div.user-picture img {
  margin-left: 0;
}

.comment {
  margin-bottom: 20px;
  display: table;
  vertical-align: top;
}

.comment .attribution {
  display: table-cell;
  padding: 0 35px 0 0;
  vertical-align: top;
  overflow: hidden;
}

.comment .attribution img {
  margin: 0;
  border: 1px solid #d3d7d9;
}

.comment .attribution .username {
  white-space: nowrap;
}

.comment .comment-submitted p {
  margin: 4px 0;
  font-size: 1.071em;
  line-height: 1.2;
}

.comment .comment-submitted .comment-time {
  font-size: 0.786em;
}

.comment .comment-submitted .comment-permalink {
  font-size: 0.786em;
  text-transform: lowercase;
}

.comment .content {
  font-size: 0.929em;
  line-height: 1.6;
}

.comment .comment-arrow {
  background: url(images/comment-arrow.gif) no-repeat 0 center transparent;
  border-left: 1px solid;
  border-right: 1px solid;
  height: 40px;
  margin-left: -36px;
  margin-top: 15px;
  position: absolute;
  width: 20px;
}

.comment .comment-text {
  padding: 0 25px 10px 35px;
  display: table-cell;
  vertical-align: top;
  position: relative;
  width: 100%;
  border-left: 1px
  solid #d3d7d9;
}

.comment .indented {
  margin-left: 40px;
}

.comment-unpublished {
  margin-right: 5px;
  padding: 5px 2px 5px 5px;
}

.comment .comment-text .comment-arrow {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

/* -------------- Form Elements   ------------- */

fieldset {
  background: #ffffff;
  border: 1px solid #cccccc;
  margin-top: 10px;
  margin-bottom: 32px;
  padding: 0 0 10px;
  position: relative;
  top: 12px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  max-width: 100%;
}

.fieldset-wrapper {
  margin-top: 25px;
}

.node-form .vertical-tabs .fieldset-wrapper {
  margin-top: 0;
}

.filter-wrapper {
  top: 0;
  padding: 1em 0 0.2em;
  -khtml-border-radius-topright: 0;
  -khtml-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.filter-help a {
  font-size: 0.857em;
  padding: 2px 20px 0;
}

.filter-wrapper .form-item label {
  margin-right: 10px;
}

.filter-wrapper .form-item {
  padding: 0 0 0.5em 0.5em;
}

.filter-guidelines {
  padding: 0 1.5em 0 0.5em;
}

.fieldset.collapsed {
  background: #fff;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

fieldset legend {
  background: #dbdbdb;
  border: 1px solid #ccc;
  border-bottom: none;
  display: block;
  height: 2em;
  left: -1px;
  line-height: 2;
  padding: 0;
  position: absolute;
  text-indent: 10px;
  text-shadow: 0 1px 0 #fff;
  top: -12px;
  width: 100%;
  -khtml-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0 ;
}

fieldset.collapsed legend {
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

fieldset .fieldset-wrapper {
  padding: 0 10px;
}

fieldset .fieldset-description {
  margin-top: 5px;
  margin-bottom: 1em;
  line-height: 1.4;
  font-style: italic;
}

input {
  margin: 2px 0;
  padding: 4px;
}

input, textarea {
  font-size: 0.929em;
}

textarea {
  line-height: 1.5;
}

textarea.form-textarea, select.form-select {
  padding: 4px;
}

input.form-text, textarea.form-textarea, select.form-select {
  border: 1px solid #ccc;
  width: 96%;
}

.password-suggestions ul li {
  margin-left: 1.2em;
}

.form-item {
  margin-bottom: 1em;
  margin-top: 2px;
}

.form-item label {
  font-size: 0.929em;
}

.form-type-radio label, .form-type-checkbox label {
  margin-left: 4px;
}

.form-type-radio .description, .form-type-checkbox .description {
  margin-left: 2px;
}

.form-actions {
  padding-top: 10px;
}

/* Form Buttons */

button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background: rgb(159,63,130);
  border: none;
  color: rgb(249,249,249);
  text-shadow: none;
  font-weight; none;
  float: right;
  -moz-border-radius:10px 0; -webkit-border-radius:10px 0; -o-border-radius:10px 0; -ms-border-radius:10px 0; -khtml-border-radius:10px 0; border-radius: 10px 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
}

button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  background: rgb(139,43,110);
  border: none;
  color: rgb(249,249,249);
  text-shadow: none;
  font-weight; none;
  -moz-border-radius:10px 0; -webkit-border-radius:10px 0; -o-border-radius:10px 0; -ms-border-radius:10px 0; -khtml-border-radius:10px 0; border-radius: 10px 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
}

.views-exposed-form .views-exposed-widget {
  float: none;
}

.view-id-calendrier {
  text-align: center;
}

.view-id-calendrier h2{
  font-size: 16px;
}

#content {
  border: 1px solid rgb(200,200,200);
  -moz-border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px; -ms-border-radius:10px; -khtml-border-radius:10px; border-radius:10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0 20px;
  background: rgb(255,255,255);
  box-shadow: 0px 0px 5px rgb(200,200,200);
}

/* Advanced search on simple search display */

.advanced-search {
  float: none;
  text-align: right;
  width: 90%;
  padding: 14px 10px 6px;
  margin-right: -5px;
}

#views-form-advsearch-page .views-row {
  border: 1px solid rgb(200,200,200);
  -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; -ms-border-radius:4px; -khtml-border-radius:4px; border-radius:4px;
  padding: 20px 20px;
  margin-top: 10px;
  background: rgb(255,255,255);
  box-shadow: 0px 0px 5px rgb(200,200,200);
}

#views-form-advsearch-page .views-row,
#views-form-advsearch-page .views-row .links {
  font-size: 12px;
}

#views-form-advsearch-page .node h2.title {
  font-size: 1.3em;
}

#views-form-advsearch-page .views-field-views-bulk-operations {
  position: absolute;
}

#views-form-advsearch-page .views-field-rendered-entity {
  padding-left: 20px;
}

#views-form-advsearch-page .views-row .node {
  margin: 0;
}

#views-form-advsearch-page .views-row img {
  border-radius: 0;
}

.page-advsearch #post-content {
  margin: 20px;
  padding: 10px 20px 0 20px;
  background: rgb(255,255,255);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

#views-exposed-form-advsearch-page .form-type-bef-checkbox {
  display: inline;
}

#views-exposed-form-advsearch-page fieldset {
  border: none;
}

#views-exposed-form-advsearch-page input[type=text] {
  width: 250px;
}

#views-exposed-form-advsearch-page select {
  width: 100px;
}

.container-inline {
  overflow: hidden;
}


/* Item detailed */

.opac-items-wrapper {
  overflow-x: auto;
}

.opac-items-wrapper fieldset.collapsed legend {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* Node Libraries */

.node-type-bibliotheque #post-content h1 {
  position: relative;
  top: 170px;
  text-align: center;
  color: rgb(250,250,250);
  font-size: 1.5em;
  text-shadow: 1px 1px 0 rgb(50,50,50);
  background: none repeat scroll 0% 0% rgba(0,0,0,0.6);
  padding:5px 0;
}

.node-type-bibliotheque #post-content img {
  border-radius: 10px 10px 0 0 ;
  width:100%
}

.node-type-bibliotheque #post-content img:hover {
  box-shadow: 0 0 5px rgb(100,100,100);
}

.node-bibliotheque {
  background: rgb(255,255,255);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  margin-top: 0;
}




 .block-sharethis {
  position: relative;
  top: 80px;
  left: 10px;
}

.panels-flexible-blog_entry {
  background: rgb(255,255,255);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  margin-top: 0;
  padding-bottom: 10px;
}

.panels-flexible-region-blog_entry-blog_image {
  width: 100%;
}

.panels-flexible-region-blog_entry-blog_image-inside img {
  border-radius: 10px 10px 0 0;
}

.panels-flexible-region-blog_entry-center-inside {
  text-align:center;
  margin-top: 10px;
}

.panels-flexible-region-blog_entry-billet_de_blog-inside {
  text-align: center;
  font-size: 14px;
  margin: 10px 0 30px 0;
  font-weight: 300;
}

.panels-flexible-row-blog_entry-3,
.panels-flexible-row-blog_entry-4,
.panels-flexible-row-blog_entry-5 {
  padding: 0 40px;
}

/* PZ Search */

#pz-search-page input, #pz-search-page select {
  width: auto;
}

#pz-query-date div {
  display: inline;
}

#pz-query-date {
  margin-top: 50px;
  margin-bottom: 20px;
}

#pz-query {
  width: 500px;
}

#edit-targets div {
  display: inline-block;
  margin-right: 1em;
}

/* Agenda */

.node-type-event .region-content {
  padding: 0;
  background: rgb(255,255,255);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}


#block-search-form {
  padding-bottom: 7px;
  overflow: hidden;
}

#block-search-form .content {
  margin-top: 0;
}

#search-form input#edit-keys,
#block-search-form .form-item-search-block-form input {
  float: left;
  font-size: 1em;
  height: 1.143em;
  margin-right: 5px;
  width: 9em;
}

#search-block-form input.form-submit,
#search-form input.form-submit {
  margin-left: 0;
  margin-right: 0;
  height: 25px;
  width: 34px;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
  border-color: #e4e4e4 #d2d2d2 #b4b4b4;
  background: url(images/search-button.png) no-repeat center top;
  overflow: hidden;
  float: none;
}

#search-block-form input.form-submit:hover,
#search-block-form input.form-submit:focus,
#search-form input.form-submit:hover,
#search-form input.form-submit:focus {
  background-position: center bottom;
}

#search-block-form .form-actions{
  float: left;
  padding: 0;
}

#search-block-form .form-actions input {
  margin: 1px 0;
}

#search-form .form-item-keys label {
  display: block;
}

ol.search-results {
  padding-left: 0;
}

.search-results li {
  border-bottom: 1px solid #d3d7d9;
  padding-bottom: 0.4285em;
  margin-bottom: 0.5em;
}

.search-results li:last-child {
  border-bottom: none;
  padding-bottom: none;
  margin-bottom: 1em;
}

.search-results .search-snippet-info {
  padding-left: 0;
}

#top-area {
  clear:both;
}

#top-area {
  position:relative;
    border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-bottom: 0;
}

#top-area .block {
  margin: 0;
}

#top-area .block p{
  margin: 0;
}

#top-area .column {
  float: left;
  width: 28.6%;
  margin: 1.8% 0;
  padding: .5% 2.2%;
  border-radius: 3px;
}

#top-area .column:first-child {
  margin-left:0;
}

#top-area .column:last-child {
  border: 0;
}

#top-area .column-title {
  color:#e0e0e0;
}

#top-area li {
  border-bottom:#555 1px dashed;
}

#footer {
  clear:both;
  color: rgb(34, 34, 34);
  background: rgb(10, 11, 10);
  border-top: 1px solid #CFD7DB;
}

#footer a{
  color: #006694;
}

#footer_wrapper{
  max-width: 1000px;
  margin: 0 auto;
}

#footer-area {
  position:relative;
  padding:1.76% 1.52% 0 1.76%;
  color:#999;
}

#footer-area .column {
  color: rgb(78, 75, 75);
  float:left;
  width:30.8%;
  margin:0 0 1.9% 3.8%;
}

#footer-area .column:first-child {
  margin-left:0;
}

#footer-area .column-title {
  color:#e0e0e0;
}

#copyright {
  clear:both;
  padding:0 0px;
  line-height:40px;
}

.copyright {
  float:left;
  max-width:728px;
}

.credits {
  float:right;
  max-width:370px;
  margin-right:12px;
  text-align:right;
}

#copyright p {
  margin:0;
}

.footer_credit{
  background: #000;
  border-top: 1px solid rgb(59, 60, 61);
  color: #777;
  font-family: Arial;
  overflow: auto;
  padding: 10px 0px;
}
.footer_inner_credit{
  max-width: 1000px;
  margin: 0 auto;
}

/* Remove Amazon border */
div.field-type-asin {
  border-top: 0;
}

/* Simple Search */
.simplesearch-form-wrapper input[type="submit"] {
  width: 40px;
}

.simplesearch-search-form-link {
  text-align: right;
}

.simplesearch-form-wrapper .form-item-search-term input {
  border-radius: 8px;
  width: 85%;
  box-shadow:0 0 5px rgb(200,200,200);
}
